
.app,.splitContainer {
  display: flex;
}

*{
  font-family: 'Inter', sans-serif;
}

.left{
  height: 100%;
  width: 60%;
  align-content: center;
  align-items: center;
}
.right{
  height: 100%;
width: 40%;
align-content: center;
align-items: center;
}